<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <div class="background">
        <!-- Your content goes here -->
    
        <h1>Welcome Sachin MLOps and DevOps Page</h1> 
        <form action="">
            <input type="button" value="Age_Gender_Detection">
        </form>

        <form action="">
            <input type="button" value="Placement Predicitor">
        </form>

        <form action="">
            <input type="button" value="ProtFolio">
        </form>
    </div>

</body>
</html>
